/*
 * BASE STYLING - START
 */

h5 {
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  /*color: green;*/
}

a {
  color:#446889;
}

a:hover {
  color: gold;
    text-decoration: none;

}

.hub-icon {
  animation: spin 4s 1 ease both;
  transform-origin: center center;
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}


.centered-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 50px;
}

.Select-value-icon  {
  /*background:#D4A461;
  color:white;*/
}
.Select-value-label  {
  /*background:#D4A461;
  color:white;*/
}


.form-control {
  border-radius: 2px!important;
}

.btn {
  background-color: #D4A461;
  /*background-color: #2E5266;*/
  /*background-color: #446889;*/

  color:#F2F5F7;
  box-shadow: 2px 2px 4px #888888;
  border-radius: 2px!important;
}
.btn:hover {
  background-color: #D4A461;
  /*background-color: #2E5266;*/
  /*background-color: #446889;*/

  color:#F2F5F7;
  box-shadow: 3px 3px 10px #888888;
  border-radius: 2px;
}
.btn:active {
  background-color: #D4A461;
  /*background-color: #2E5266;*/
  /*background-color: #446889;*/

  color:#F2F5F7;
  box-shadow: 3px 3px 10px #888888;
  border-radius: 2px;
}
.btn:focus {
  background-color: #D4A461;
  /*background-color: #2E5266;*/
  /*background-color: #446889;*/

  color:#F2F5F7;
  box-shadow: 3px 3px 10px #888888;
  border-radius: 2px;
}

.shadow {
    -webkit-filter: drop-shadow( 1px 1px 1px black );
            filter: drop-shadow( 100px 100px 10px black );
}

.logo-text {
  font-family: "Londrina Solid";
  font-size: 55px;
  white-space: pre;
}

.logo-text:hover {
  /*text-shadow: 0px 0px 20px black;*/
}

.nav a {
  display: block;
}

nav a {
  color: #D4A461;
}

.activeLink {
  color: #D4A461;
}

a:hover {
  color: #D4A461;
    text-decoration: none

}

a:focus {
  color: #D4A461;
    text-decoration: none

}

a:active {
  color: #D4A461;
    text-decoration: none

}

a {
  text-decoration: none
}

.table-hover tbody tr:hover {
  /*box-shadow: 1px 0px 40px #888888!important;*/
}

/*.btn {
  background-color: #E6EDF0;
}*/

/*
 * BASE STYLING - END
 */

/*
 * SIDEBAR - START
 */

.logo {
  padding:0px!important;
  padding-left:10px!important;
  padding-right:10px!important;
}

.sidebar {
  position: fixed;
  /*background-color: #2D3142;*/
  /*background-color:#1F2421;*/
  /*background-color: #2E5266;*/
  /*background-color:#6E8898;*/
  /*background-color: #0D1319;*/
  /*background-color: #131D26;*/
  /*background-color:white;*/
  /*background-color:#D4A461;*/
  background-color:#446889;
  top: 0px;
  bottom: 0vh;
  left: 0;
  padding: 20px;
  /* overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  /*border-right: 1px solid #eee;*/
  /*box-shadow: 10px 0px 100px #888888;*/
  box-shadow: 1px 0px 40px #888888;
}

.sidebar a {
  color: #F2F5F7;
  /*color:black;*/
  font-family: 'Roboto', sans-serif;
}

.sidebar h1 {
  font-family: 'Playfair Display', serif;
  /*color: #D4A461;*/
  color: #446889;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-title {
  width: 100%;
}

.sidebar .nav-item {
  float: left;
  display: inline-block;
}

.sidebar .nav-img {
  float: left;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  display: inline-block;
  border-radius: 0;
}

.nav-link {
  display: inline-block;
}

.footer {
  position: absolute;
  top:92vh;
  bottom: 0vh;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}


.changeArrow:hover {
  color: #DDB680;
  cursor: pointer;
}

.sidebar a:hover, .sidebar a:focus {
  color: #DDB680;
  text-decoration: none
  outline: none;
}

/*
 * SIDEBAR - END
 */


/*
 * HOME - START
 */

/*Dashboard*/
.active-row td {
  background-color: #D4A461!important;
  border-top-color: #D4A461;
}

.home-table {

  /*border: 1px solid rgba(0, 0, 0, 0.121569);*/
  /*border-radius:5px;*/
}

.home-table-button-wrapper {
  text-align:center;
  padding-left:20px;
  padding-right:20px;
}

.home-table tbody tr td {
  padding-left:20px!important;
  padding-right:20px;
}
.home-table tbody tr td:first-child {
  /*border-top: 0px!important;*/
}

.card-block {
}

.services-card-block {
  padding:0px;
}

/*.users-card-block {}*/

thead {
  /*background-color: #4F5D75;*/
  /*background-color:#93A3B1;*/
  /*background-color: light-gray;*/
  /*background-color: #D4A461;*/
  /*background-color: #446889;*/
  /*color: #F2F5F7;*/
  color:black;
}

thead th:first-child {
  border-top-left-radius: 0px;
}

thead th:last-child {
  border-top-right-radius: 0px;
}




.home-card-header {
  /*background-color: #4F5D75!important;*/
  /*background-color:#93A3B1!important;*/
  /*background-color: #D4A461!important;*/
  background-color: #446889!important;
  color: #F2F5F7;
  text-align:center;
  padding:10px;
  border:none!important;
  border-radius:0px!important;
}

.home-card {
  margin-top: 20px!important;
  border: none!important;
  border-radius:0px!important;
  box-shadow: 0px 0px 20px #888888;
}

.login-card {
  margin-top: 20px!important;
  border: none!important;
  border-radius:0px!important;
  box-shadow: 0px 0px 20px #888888;
  position: absolute;
  height: auto;
  width: 500px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 50%);
  right: auto;
  bottom: auto;

}

.modal-card {
  border: none!important;
  border-radius:0px!important;
  box-shadow: 0px 0px 20px #888888;
  margin-bottom:0px;
}

.modal-card-block {
  width: 100%;
}

.home-card-block {
  padding: 0px!important;
  width: 100%;

}

.home-button {
  width:100%;
}

.home-thead th {
  text-align:center;
  width:100%;
}

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.home-table-button {
  width: 100%;
  color: #F2F5F7;
  margin-bottom: 20px;
  /*font-size: 20px;*/
}

.home-table-deck {
  min-height: 400px;
  display:flex;
}

/*
 * HOME - END
 */

/*
 * IDK - START
 */

/*a:focus {
  outline: none;
    text-decoration: none
}
*/

/*
 * IDK - END
 */


/*
 * CALENDAR - START
 */

.react-calendar-timeline .rct-items .rct-item.override {
  z-index: 200!important;
  /*pointer-events: none!important;*/
  background: red;
}

.react-calendar-timeline .rct-items .rct-item.computed {
  pointer-events: none!important;
}

.react-calendar-timeline .rct-items .rct-item.manual {
  z-index: 175!important;
  /*pointer-events: none!important;*/
  background:blue;
}

.react-calendar-timeline .rct-items .rct-item.rotation {
  z-index: 150!important;
  /*pointer-events: none!important;*/
  background: black;
}

.react-calendar-timeline .rct-header .rct-label.rct-label-only {
  background-color: #f0f0f0!important;
  color: black!important;
}

.react-calendar-timeline .rct-today {
  background:#446889!important;
}

.react-calendar-timeline .rct-header .rct-label {
  color:black!important;
}

.rct-item {
  border-radius: 2px;
  border:none!important;
  /*background: #D4A461;*/

}

.rct-item-content {
  font-size:20px;
}

.rct-sidebar-header {
  background: #FFFFFF !important;
  border-left:none!important;
}

.rct-label-group {
  background: #FFFFFF !important;
  border-left:none!important;
}

.selected {
  box-shadow: 0px 0px 20px #888888;
}

.rct-item-overflow {
  border-radius: 2px;
  border:none!important;
  /*background: #D4A461;*/
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
}
/* bootstrap hack end */

/*
 * CALENDAR - END
 */
