/*
 * BASE STYLING - START
 */

h5 {
  text-decoration: none
  font-family: 'Roboto', sans-serif;
  color: green;
}

a:hover {
  color: gold;
    text-decoration: none

}

.nav a {
  display: block;
}

nav a {
  color: gold;
}

.activeLink {
  color: gold;
}

a:hover {
  color: gold;
    text-decoration: none

}

a:focus {
  color: gold;
    text-decoration: none

}

a:active {
  color: gold;
    text-decoration: none

}

a {
  text-decoration: none
}

tr:selected {
  background-color: gold;
}

.btn {
  background-color: #E6E6DF0;
}

/*
 * BASE STYLING - END
 */

/*
 * SIDEBAR - START
 */

.sidebar {
  position: fixed;
  top: 0px;
  bottom: 0vh;
  left: 0;
  padding: 20px;
  /* overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  border-right: 1px solid #eee;
}

.sidebar a {
  color: white;
  font-family: 'Roboto', sans-serif;
}

.sidebar h2 {
  font-family: 'Playfair Display', serif;
  color: #D4A461;
}

/* Sidebar navigation */
.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.sidebar .nav {
  margin-bottom: 20px;
}

.sidebar .nav-title {
  width: 100%;
}

.sidebar .nav-item {
  float: left;
  display: inline-block;
}

.sidebar .nav-img {
  float: left;
}

.sidebar .nav-item + .nav-item {
  margin-left: 0;
}

.sidebar .nav-link {
  display: inline-block;
  border-radius: 0;
}

.nav-link {
  display: inline-block;
}

.footer {
  position: absolute;
  top:92vh;
  bottom: 0vh;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}
.rct-sidebar-header {
  background: #DDB680 !important; 
}

.rct-label-group {
  background: #DDB680 !important; 
}

.changeArrow:hover {
  color: #DDB680;
  cursor: pointer;
}

.sidebar a:hover, .sidebar a:focus {
  color: #DDB680;
  text-decoration: none
  outline: none;
}

/*
 * SIDEBAR - END
 */


/*
 * HOME - START
 */

/*Dashboard*/
.active-row {
  background-color: #A5A5A5;
}

 /* Placeholders */
.placeholders {
  padding-bottom: 3rem;
}

.placeholder img {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

/*
 * HOME - END
 */

/*
 * IDK - START
 */

/*a:focus {
  outline: none;
    text-decoration: none
}
*/

/*
 * IDK - END
 */


/*
 * CALENDAR - START
 */

.react-calendar-timeline .rct-items .rct-item.analysis {
  background: gold;
}

/* bootstrap hack: fix content width inside hidden tabs */
.tab-content > .tab-pane:not(.active),
.pill-content > .pill-pane:not(.active) {
    display: block;
    height: 0;
    overflow-y: hidden;
} 
/* bootstrap hack end */

/*
 * CALENDAR - END
 */